/* General styling for experience section */
.experience {
    background-color:  var(--secondary-background);
    flex-grow: 1;
    padding: 50px 0;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
  
/* Timeline container styling */
.vertical-timeline::before {
  background: rgba(255, 255, 255, 0.5);
}

/* Timeline element base styling */
.vertical-timeline-element {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.vertical-timeline-element:hover {
  transform: translateY(-5px);
}

/* Title and subtitle styling */
.vertical-timeline-element-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}

.vertical-timeline-element-subtitle {
  font-size: 1.1rem;
  color: #d1e8ff;
}


.vertical-timeline-element-date {
  color: #ffeb3b;
  font-weight: bold;
  display: flex;
  text-align: left;  /* Ensure the text aligns to the right */
}

/* Timeline icon styles */
.vertical-timeline-element-icon {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

/* Styling for education elements */
.vertical-timeline-element--education .vertical-timeline-element-content {
  background: #2196f3cc;
  border-radius: 10px;
  padding: 15px;
  transition: background 0.3s;
}

.vertical-timeline-element--education .vertical-timeline-element-content:hover {
  background: #2196f3;
}

.vertical-timeline-element--education .vertical-timeline-element-content-arrow {
    border-right: 7px solid #2196f3cc !important;
}

/* Hover effect for education arrow */
.vertical-timeline-element--education .vertical-timeline-element-content:hover 
.vertical-timeline-element-content-arrow {
    border-right: 7px solid #2196f3 !important;
}

/* Styling for work elements */
.vertical-timeline-element--work .vertical-timeline-element-content {
  background: #e91e63cc;
  border-radius: 10px;
  padding: 15px;
  transition: background 0.3s;
}

.vertical-timeline-element--work .vertical-timeline-element-content:hover {
  background: rgba(233, 30, 99, 1);
}

.vertical-timeline-element--work .vertical-timeline-element-content-arrow {
    border-right: 7px solid #e91e63cc !important;
}

/* Add transition effect for arrow elements */
.vertical-timeline-element-content-arrow {
    transition: border-color 0.3s ease-in-out;
}

/* Hover effect for work arrow */
.vertical-timeline-element--work .vertical-timeline-element-content:hover 
.vertical-timeline-element-content-arrow {
    border-right: 7px solid rgba(233, 30, 99, 1) !important;
}

/* Styling for project elements */
.vertical-timeline-element--project .vertical-timeline-element-content {
    background: #9C27B0cc;
    border-radius: 10px;
    padding: 15px;
    transition: background 0.3s;
  }
  
  .vertical-timeline-element--project .vertical-timeline-element-content:hover {
    background: #9C27B0;
  }
  
  .vertical-timeline-element--project .vertical-timeline-element-content-arrow {
      border-right: 7px solid #9C27B0cc !important;
  }
  
  /* Hover effect for project arrow */
  .vertical-timeline-element--project .vertical-timeline-element-content:hover 
  .vertical-timeline-element-content-arrow {
      border-right: 7px solid #9C27B0 !important;
  }
  

.vertical-timeline-element-content .vertical-timeline-element-date {
    opacity: 1 !important;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        font-size: 2rem !important;
        top: -1rem !important;
    }
}