.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  background-color:  var(--secondary-background);
  color: #f0f0f0;
}

.about .headshot {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 130px;
  box-shadow: 0 16px 24px rgba(62, 73, 122, 0.2);
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: var(--standout-text);
  margin: 0;
}

.about .prompt {
  width: 65%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.skills h1 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
  padding-left: 0; 
}

.list span {
  font-size: 20px;
}

li.item h2 {
  margin-bottom: 15px; /* Adjust the value to your desired spacing */
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .about .headshot {
    width: 125px; /* Make headshot smaller */
    height: 125px; /* Make headshot smaller */
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}