@import './variables';

.navbar {
    width: 100%;
    background: var(--primary-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed; 
    transform-origin: top center;
    top: 0; 
    z-index: 1000;     
    height: var(--navbar-height, 100px);
    --nav-scale: calc(var(--navbar-height, 100px) / 100px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.navbar .navbarLinksDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
}

.navbar .navbarLinksDiv .navbarLink {    
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.navbar .navbarToggleButton {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .navbarToggleButton svg {
    font-size: calc(50px * var(--nav-scale));
    padding-left: calc(10px * var(--nav-scale));
    padding-right: calc(10px * var(--nav-scale));
}

#open {
    height: 30vh !important;
    background: var(--primary-background);
    --nav-scale: 1;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    height: auto;
}

#open a {
    width: 100%;
    text-align: center;    
    background: color-mix(in srgb, var(--primary-background) 90%, white 10%);
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#closed .links {
    display: none
}

#closed a {
    display: none
}


// @media only screen and (max-width: #{$mobile-width}) {
//     .navbarToggleButton {
//         display: flex;
//     }
//     #closed a {
//         display: none;
//     }
// }

// @media only screen and (min-width: #{$mobile-width}) {
//     .navbarToggleButton {
//         display: none;
//     }   
//     .hiddenLinks {
//         display: none;
//     }   
//     #open {
//         height: 100px;
//     }   
//     #open .links {
//         flex-direction: row;
//     }
// }
