@import '~@syncfusion/ej2-base/styles/material3.css';
@import '~@syncfusion/ej2-layouts/styles/material3.css';

.App {
  text-align: center;
  background-color: var(--secondary-background);
}

body {
  padding: 0;
  margin: 0;
}